h1,
h2,
h3,
h4,
h5,
h6,
body {
    font-family: 'Amatic SC', cursive;
}
body{
 background-color: black;
}
#imgdisplay {
    height: 700px;
    background-image: url('img/img_pizza.jpg');
    background-size: cover;
}

.text {
    font-size: 85px;
    color: rgb(255, 255, 255);
    font-weight: 600;
}